fieldset{
	border: 1px solid #000000;
}

div{
	position: absolute;
}

.flex_row{
	display: flex;
	justify-content: space-around;
}

.flex_column{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.absolute_pos{
	position: absolute;
}

.standard_size{
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 10px;
	padding-top: 6px;
	
	height: 54px;
	/*width: -40px*/
	
	overflow: hidden;
}

.standard_NoHeight{
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 10px;
	padding-top: 6px;
	
	/*width: -40px*/
	
	overflow: hidden;
}

.button{
	opacity: 100%;
}

.button:hover{
	opacity: 70%;
}